{% extends 'template.html.twig' %}

{% block title %}Tabs Users
{% endblock %}

{% block body %}
	{{include ('fragments/dateJour.html.twig')}}
	<table class="table">
		<tr class="table-active">
			<td>FirstName</td>
			<td>Name</td>
			<td>Age</td>
		</tr>
		{% for user in users %}

			<tr class="table-{% if loop.index is odd  %}danger {% else %}warning {% endif %}">
				<td>
					{{ user.firstName }}</td>
				<td>
					{{ user.Name }}</td>
				<td>
					{{ user.Age }}</td>
			</tr>
		{% endfor %}

	</table>
{% endblock %}
