{% extends 'template.html.twig' %}

{% block title %}Hello PersonneController!
{% endblock %}

{% block body %}
	<div class="alert alert-success">{{ personne.firstName }}

		{{ personne.name }}

		{{ personne.age }}

		{% if personne.createdBy %}
			<p>created:{{personne.createdBy}}</p>
		{% else %}
			<p>created:Anonymous</p>
		{% endif %}
	</div>


{% endblock %}
