{% extends 'template.html.twig' %}

{% block title %}Hello PersonneController!
{% endblock %}

{% block body %}
	<div class="alert alert-success">{{ personne.firstName }}

		{{ personne.name }}

		{{ personne.age }}


	</div>


{% endblock %}
