{% extends 'template.html.twig' %}

{% block title %}Hello PersonneController!
{% endblock %}

{% block body %}
	<div class="alert alert-success">{{ user.firstName }}
		{{ user.name }}
		{{ user.age }}
		ans
	</div>


{% endblock %}
